/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mq('1') {
        padding: 10px 30px;
    }
  }
  
  .default {
    background-color: $color-link;
    &:hover {
      background-color: lighten($color-link , 15%);
      transition: .5s ease-in;
    }
  }
  
  .error {
    background-color: $color-error;
    &:hover {
      background-color: lighten($color-error , 15%);
      transition: .5s ease-in;
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: lighten($color-info , 15%);
      transition: .5s ease-in;
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      background-color: lighten(#63cc82, 15%);
      transition: .5s ease-in;
    }
  }
  
  .warning {
    background-color: #fd7856;
    &:hover {
      background-color: lighten(#fd7856, 15%);
      transition: .5s ease-in;
    }
  }
  
  .btn + .btn {
    @include mq('1') {
        margin-left: 10px;
    }
  }